* {
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 0.2em;
}

body{
    margin: 0;
}

.ticket{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    background-image: url("bg-image.png");
    background-color:  rgba(255, 255, 255, 0.8);
    background-size: cover;
    background-blend-mode: color;
}

.ticket div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

.header{
    grid-column: 1/span 2;
    background-color: black;
    color: white;
}

.header h1{
    margin-bottom: 0;
}

.header p{
    font-size: 0.7em;
    letter-spacing: 0.3em;
}

.ticket .qrCode{
    grid-column: 1/span 2;
    border: none;
}

.ticketPrice{
    grid-column: 1/span 2;
}

.ticket .frustration{
    display: none;
}

@media(min-width: 50em){
    .ticket{
        padding: 0.5em;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 3fr 1fr 40px;
    }

    .ticket .header{
        background-color: transparent;
        color: black;
        flex-direction: column-reverse;
        grid-column: 1/span 3;
    }

    .header h1{
        font-size: 4em;
        margin: 0;
    }

    .header p{
        font-size: 0.6em;
    }

    .ticket .qrCode{
        grid-column: 4/span 2;
        grid-row: 1/span 3;
        border: 1px solid black;
    }

    .ticketPrice{
        grid-column: 3/span 1;
    }
    
    .ticket .frustration{
        display: flex;
        grid-column: 1/span 3;
    }

    .ticket .frustration p{
        align-items: center;
        justify-self: center;
        font-size: 0.8em;
        letter-spacing: normal;
    }

}
