* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.grid{
    display: grid;
    grid-gap: 5px;
}

.grid div{
    text-align: center;
    background-color: crimson;
    padding: 1em;
    display: flex;
}

.grid div p{
    align-items: center;
    margin: auto;
}

.grid .blue{
    background-color: cyan;
}

.grid .yellow{
    background-color: yellow;
}

@media(min-width: 300px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 50em){
    .grid{
        grid-template-columns: repeat(5, 1fr);
    }
}